<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav-items">
        <li>
            <a href="/pizzamgm/home" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/pizzamgm/about" class="nav-link">See our Pizzas</a>
        </li>
        <li>
            <a href="#" class="nav-link">Virtual Tour</a>
        </li>
        <li>
            <a href="#" class="nav-link">Services</a>
        </li>
        <li>
            <a href="/pizzamgm/sysadmin" class="nav-link">System Administration</a>
        </li>
    </ul>
</nav>